
    body {
      border-color: bisque;
      background-color: azure;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
    }

    img {
      width: 50px;
      border-radius: 30px;
      border: solid black
    }

    button {
         border-radius: 80px;
         color: white;
         background-color: black;
         width: 100px;
        }

       
  form { 
    text-align: center;
    background-image: url(./assets/fundo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    }

#box_form {
  border: solid black;



}


