
    body {
      border-color: bisque;
      background: azure;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      font-weight: 400;
      font-style: normal;
    }


    img {
      width: 50px;
      border-radius: 30px;
      border: solid black
    }

    button {
         border-radius: 80px;
         color: white;
         background-color: black;
         width: 100px;
        }

       
  form { 
    text-align: center;
    background-image: url(./assets/fundo1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#box_form {
  border: solid black;
}

header { 
    border: solid;
    margin: 8px;
    padding: 8px;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black;
    margin: 8px;
}

footer{ 
      text-align: center;
      border: solid black;
      margin: 8px;
    }







